# .gitignore
node_modules/
db_data/
db_data_shadow/
.env

# Log files
packages/app/logs/
logs/

**/.claude/settings.local.json

.next

packages/job-system/files/FMCSA_CENSUS1_2025Mar.zip

packages/job-system/files/FMCSA_CENSUS1_2025Mar/FMCSA_CENSUS1_2025Mar.txt

packages/job-system/files/FMCSA_CENSUS1_2025Mar/ReadMe_Census.txt
